/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        cLayer: cLayer {
            compatible = "zmk,behavior-hold-tap";
            label = "CLAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
        };

        zFastLayer: zFastLayer {
            compatible = "zmk,behavior-hold-tap";
            label = "ZFASTLAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
        };

        zHomeMod: zHomeMod {
            compatible = "zmk,behavior-hold-tap";
            label = "ZHOMEMOD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
        };

        zHomeLayer: zHomeLayer {
            compatible = "zmk,behavior-hold-tap";
            label = "ZHOMELAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
        };
    };

    macros {
        ctrl_alt_del: ctrl_alt_del {
            label = "ZM_ctrl_alt_del";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LALT &kp DEL>,
                <&macro_release>,
                <&kp LCTRL &kp LALT &kp DEL>;
        };

        ctrl_shift_esc: ctrl_shift_esc {
            label = "ZM_ctrl_shift_esc";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LSHIFT &kp ESC>,
                <&macro_release>,
                <&kp LCTRL &kp LSHIFT &kp ESC>;
        };

        lgui_d: lgui_d {
            label = "ZM_lgui_d";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LGUI &kp D>,
                <&macro_release>,
                <&kp LGUI &kp D>;
        };

        lgui_shft_s: lgui_shft_s {
            label = "ZM_lgui_shft_s";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LGUI &kp LSHFT &kp S>,
                <&macro_release>,
                <&kp LGUI &kp LSHFT &kp S>;
        };

        lgui_e: lgui_e {
            label = "ZM_lgui_e";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LGUI &kp E>,
                <&macro_release>,
                <&kp LGUI &kp E>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------
            // |  ESC  |  1*  |  2*  |  3*  |     4*    |   5*  |   6*   |    7*    |  8*  |  9*  |   0*  | BSPC  |
            // |  TAB  |  Q   |  W   |  E   |     R     |   T   |   Y    |    U     |  I   |  O   |   P   |   '*  |
            // |   `*  |  A   |  S   |  D   |     F     |   G   |   H    |    J     |  K   |  L   |   ;*  | ENTER |
            // | SHIFT |  Z   |  X   |  C   |     V     |   B   |   N    |    M     |  ,*  |  .*  | UARW  |  /*   |
            // | LCTL  | LGUI | LALT | LOWR | 2uSpace(a)|4uSpace|  N/A** |2uSpace(b)| RAIS | LARW | DARW  | RARW  |

            bindings = <
&kp ESC                   &kp N1                &kp N2                  &kp N3                &kp N4     &kp N5      &kp N6         &kp N7     &kp N8                &kp N9                  &kp N0                &kp BSPC
&kp Q                     &kp W                 &kp F                   &kp P                 &kp G      &kp ESCAPE  &kp BACKSPACE  &kp J      &kp L                 &kp U                   &kp Y                 &zHomeLayer 1 SEMICOLON
&zHomeMod LEFT_CONTROL A  &zHomeMod LEFT_ALT R  &zHomeMod LEFT_SHIFT S  &zHomeMod LEFT_GUI T  &kp D      &kp RET     &kp SQT        &kp H      &zHomeMod LEFT_GUI N  &zHomeMod LEFT_SHIFT E  &zHomeMod LEFT_ALT I  &zHomeMod LEFT_CONTROL O
&kp Z                     &kp X                 &kp C                   &kp V                 &kp B      &kp LBKT    &kp RBKT       &kp K      &kp M                 &kp COMMA               &kp DOT               &kp FSLH
&kp LCTRL                 &kp LGUI              &kp LALT                &kp LEFT_SHIFT        &kp SPACE  &kp SPACE   &kp SPACE      &kp SPACE  &zFastLayer 1 ENTER   &kp LEFT                &kp DOWN              &kp RIGHT
            >;
        };

        quick_edit {
            // -----------------------------------------------------------------------------------------------
            // |      |       |       |       |          |       |        |          |       |       |       |       |
            // |      |       |       |       |          |       |        |          |       |       |       |       |
            // |      |       |       |       |          |       |        |          |       |       |       |       |
            // |      |       |       |       |          |       |        |          |       |       |       |       |
            // |      |       |       |       |2uSpace(a)|4uSpace|  N/A** |2uSpace(b)|       |       |       |       |

            bindings = <
&none  &none  &none  &none  &none    &none    &none     &none     &none          &none              &none      &none
&none  &none  &none  &none  &none    &none    &none     &none     &none          &none              &kp ENTER  &none
&none  &none  &none  &none  &none    &none    &none     &none     &kp BACKSPACE  &kp LC(BACKSPACE)  &none      &none
&none  &none  &none  &none  &none    &none    &none     &none     &none          &none              &none      &none
&none  &none  &none  &none  &kp RET  &kp RET  &kp BSPC  &kp BSPC  &none          &none              &none      &none
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
