/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
    };

    zHomeMod: zHomeMod {
        compatible = "zmk,behavior-hold-tap";
        label = "ZHOMEMOD";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <250>;
        quick-tap-ms = <200>;
        flavor = "tap-preferred";
        require-prior-idle-ms = <130>;
    };

    zFast_Mod: zFast_Mod {
        compatible = "zmk,behavior-hold-tap";
        label = "ZFAST_MOD";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <200>;
        hold-while-undecided;
    };

    zHomeLayer: zHomeLayer {
        compatible = "zmk,behavior-hold-tap";
        label = "ZHOMELAYER";
        bindings = <&mo>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <250>;
        quick-tap-ms = <200>;
        flavor = "tap-preferred";
        require-prior-idle-ms = <130>;
    };

    zFastLayer: zFastLayer {
        compatible = "zmk,behavior-hold-tap";
        label = "ZFASTLAYER";
        bindings = <&mo>, <&kp>;

        #binding-cells = <2>;
        hold-while-undecided;
        tapping-term-ms = <200>;
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC    &kp N1               &kp N2  &kp N3          &kp N4     &kp N5     &kp N6                       &kp N7                       &kp N8                &kp N9   &kp N0        &kp BSPC
&kp TAB    &kp Q                &kp W   &kp F           &kp P      &kp G      &kp J                        &kp L                        &kp U                 &kp Y    &kp SEMI      &kp NON_US_BACKSLASH
&kp LCTRL  &kp A                &kp R   &kp S           &kp T      &kp D      &kp H                        &kp N                        &kp E                 &kp I    &kp O         &kp SQT
&kp LSHFT  &kp Z                &kp X   &kp C           &kp V      &kp B      &kp K                        &kp M                        &kp COMMA             &kp DOT  &kp FSLH      &kp MINUS
&kp LALT   &zFastLayer 1 GRAVE  &trans  &kp LEFT_SHIFT  &kp SPACE  &kp SPACE  &zFast_Mod LEFT_SHIFT ENTER  &zFast_Mod LEFT_SHIFT ENTER  &zFastLayer 2 ESCAPE  &none    &kp LEFT_GUI  &zFastLayer 1 MINUS
            >;
        };

        layer_1 {
            bindings = <
&kp GRAVE  &kp F1           &kp F2     &kp F3     &kp F4     &kp F5     &kp F6    &kp F7    &kp F8  &kp F9  &kp F10  &kp F11
&none      &kp KP_NUMBER_1  &none      &kp KP_N2  &kp KP_N3  &none      &none     &none     &none   &none   &none    &kp F12
&none      &none            &none      &none      &kp KP_N4  &none      &none     &none     &none   &none   &none    &none
&none      &kp KP_N5        &kp KP_N6  &kp KP_N7  &kp KP_N8  &none      &none     &none     &none   &none   &none    &none
&none      &none            &none      &none      &kp SPACE  &kp SPACE  &kp BSPC  &kp BSPC  &none   &none   &none    &none
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans     &trans  &trans  &trans  &trans  &trans  &trans    &trans     &trans     &trans     &kp PRINTSCREEN
&trans  &kp COMMA  &kp N1  &kp N2  &kp N3  &trans  &trans  &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &trans
&trans  &kp N0     &kp N4  &kp N5  &kp N6  &trans  &trans  &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &trans
&trans  &kp DOT    &kp N7  &kp N8  &kp N9  &trans  &trans  &trans    &trans     &trans     &trans     &trans
&trans  &trans     &trans  &trans  &trans  &trans  &trans  &trans    &trans     &trans     &trans     &trans
            >;
        };
    };
};
